font-size: 11.5rem;
            color: white;
            font-weight: bolder;
            display: flex;
            align-items: center;
            padding: 35px;
            opacity: 0;
            flex-direction: column;
            height: 100%;
            justify-content: flex-start;
            background: rgb(2, 2, 46);
            background: linear-gradient(0deg,
                    rgba(95, 95, 156, 0.676) 0%,
                    rgba(24, 22, 22, 0.719) 100%);
            transform: translatey(100%);
            transition: opacity 0.9s ease-in-out, transform 0.9s 0.2s;
            visibility: hidden;

    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    /* Subtle shadow */
    backdrop-filter: blur(10px);
    /* Blurred background effect */